{% extends 'base.html' %}
{% load humanize %}
{% block title %} | Welcome {% endblock %}
{% block content %}
<!--front searchbox-->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/img/img2.jpg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Shop Now</h3>
        <p>Check our Products...!</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/img/img1.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Go to the Offer</h3>
        <p>Flat 90% off </p>
      </div>

    </div>
    <div class="carousel-item">
      <img src="static/img/img2.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Check The New Products</h3>
        <p>CheckOut the deals</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>





<style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
</style>
<!-- Showcase -->
<section id="showcase">

  <div class="container text-center">


    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          Search Anything Here!
        </h1>
        <p class="lead">Makes you feel like shopping.</p>
        <div class="search">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Keywords</label>
                <input type="text" name="keywords" class="form-control" placeholder="Keyword (Mobile,Laptop,Bike,etc.)">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Brand</label>
                <input type="text" name="brand" class="form-control" placeholder="Keywords(Brands,Company,etc.)">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Category</label>
                <select name="category" class="form-control">
                  <option selected="true" disabled="disabled">Category (All)</option>
                  {% for key,value in category_choices.items %}
                  <option value="{{ key }}">{{ value }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Sort By</label>
                <select name="sort_by" class="form-control">
                  <option selected="true" disabled="disabled">Sort By :</option>
                  {% for key,value in sort_choices.items %}
                  <option value="{{ key }}">{{ value }}

                  </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control" id="type">
                  <option selected="true" disabled="disabled">Max Price (Any)</option>
                  {% for key,value in price_choices.items %}
                  <option value="{{ key }}">{{ value }}

                  </option>
                  {% endfor %}

                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!--message alearts included-->
{% include 'partials/_msgalerts.html' %}
<!-- Listings -->

<section id="listings" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3">Latest Listings</h3>
    <div class="row">
      {% if listings %}
      {% for listing in listings %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card listing-preview">
          <img class="card-img-top" src="{{listing.photo_main.url}}" alt="">
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-secondary text-white">{{listing.price | intcomma}}</span>
            </h2>
          </div>
          <div class="card-body">
            <div class="listing-heading text-center">
              <h4 class="text-primary">{{ listing.title }}</h4>
              <p>
                <i class="fas fa-map-marker text-secondary"></i> {{listing.brand}}</p>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-th-large"></i> {{listing.details1}}</div>
              <div class="col-6">
                <i class="fas fa-car"></i> {{listing.details2}}</div>
            </div>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-bed"></i> {{listing.details3}}</div>
              <div class="col-6">
                <i class="fas fa-bath"></i> {{listing.details4}}</div>
            </div>
            <hr>
            <div class="row py-2 text-secondary">
              <div class="col-6">
                <i class="fas fa-user"></i> {{listing.seller}}</div>
            </div>
            <div class="row text-secondary pb-2">
              <div class="col-6">
                <i class="fas fa-clock"></i> {{listing.published_date | timesince  }}</div>
            </div>
            <hr>
            <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">More Info</a>
          </div>
        </div>
      </div>

      {% endfor %}

      {% else %}
      <div class="col-md-12">
        <p>No Listings Yet</p>
      </div>
      {% endif %}

    </div>
  </div>
</section>



<!-- about -->
<section id="work" class="bg-dark text-white text-center">
  <h2 class="display-4">We Work For You</h2>
  <h4>Launched in 2019, Bingo is an online shopping and selling destination of choice-Bangladesh.</h4>
  <hr>
  <a href="{% url 'about' %}" class="btn btn-secondary text-white btn-lg">About Us</a>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h3>Consulting Services</h3>
        <p>Test</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr>
        <h3>Product Management</h3>
        <p>Test</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr>
        <h3>Warrenty & Selling</h3>
        <p>Test</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}