{% extends 'music/base.html' %} {% block body %} {% load static %}
<div class="container-fluid">

	<div class="row">


		<img src="{{ album.product_logo.url }}" style="width:400px;height:400px;" hspace="360" />
	</div>
	<div class="row">
		<h1> {{ album.user }} </h1>
	</div>
	<div class="row">
		<h1> {{ album.product_name }} </h1>
	</div>
	<div class="row">
		<h3>{{ album.product_type }}</h3>
	</div>
	<div class="row">
		<h3> {{ album.phone_number }}</h3>
	</div>
	<div class="row">
		<h3> {{ album.description }}</h3>

	</div>
	<div class="row">
		{% if error_message %}
		<p><strong>{{ error_message }}</strong></p>
		{% endif %}
		{%if album.song_set.all %}
		<form action="{% url 'music:favorite' album.id %}" method="POST">
			{% csrf_token %} {% for song in album.song_set.all%}
			<input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}" />
			<label for="song{{ forloop.counter }}" style="font-size: 40px">
				{{ song.song_title }}
				{% if song.is_favorite %}
				<img src="{% static '/music/images/star.png' %}" style="width:30px;height:30px;" />
				{%endif %} </label><br />
			{% endfor %}
			<input type="submit" name="Favorite" value="Favorite" />
			<input type="submit" name="Unfavorite" value="Unfavorite" />
		</form>

		{% else %}
		<br>

		{%endif%}
	</div>
</div>
{% endblock %}