{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-6 mx-auto">
        <h2>Order {{object.order_id}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 mx-auto">
        <p>Total product : {{ object.cart.products.all.count }}</p>
        <p>Item: {% for product in object.cart.products.all %}
            {{ product|upper }}{% if not foorloop.last %}, {% endif %}{% endfor %}</p>
        <p>Shipping Address: {{ object.shipping_address.get_address }}</p>
        <p>Billing Address: {{ object.billing_address.get_address }}</p>
        <p>Cart total: {{ object.cart.total }}</p>
        <p>Shipping toatal: {{ object.shipping_total }}</p>
        <p>Order total: {{ object.total }}</p>
        <p>Order Status: {{object.status}}</p>
    </div>
</div>
{% endblock %}